* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: #0d1631;
    font-family: 'Open Sans', sans-serif;
    height: 1100px;
}




/* HEADER SECTİON */
.header-section {
    width: 90%;
    height: 100px;
    margin: auto;
    box-shadow: 0px 2px rgba(255, 255, 255, 0.027);
}

.header-icon {
    width: 40%;
    height: 100px;
    display: inline-block;
}


.header-icon img{
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

.header-main-menu {
    width: 59%;
    height: 100px;
    float: right;
}

.header-main-nav-menu {
    margin-left: 250px;
}

.header-nav a{
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 100px;
    color: rgba(255, 255, 255, 0.664);
    text-align: center;
    line-height: 100px;
}

.header-nav a:hover {
    box-shadow: 0 5px #F36271;
}




/* MAİN SECTİON */
.main-h1-text {
    color: #f8f8f8;
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
}

.main-h1-text:hover {
    color: #F36271;
}

.main-menu {
    width: 100%;
    height: 713px;
    margin: 1px auto;

}

.main-menu-backgorund-image {
    background-image: url('/blog/img/background-menu.jpg');
    filter: blur(6px);
    background-size: cover;
    width: 100%;
    height: 713px;
    z-index: 0;
    position:absolute; 

}

.main-menu-image {
    position:absolute; 
    z-index: 1;
    width: 400px;
    height: 600px;
    margin: 55px 350px ;
    border-radius: 20px;
    background-image: url('/blog/img/robot3.jpg');
    background-size: cover;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.205);
}

.main-menu-image-text {
    width: 700px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    position:absolute; 
    margin-left: 750px;
    margin-top: 110px;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.205);
    z-index: 1;

}

.main-menu-h6-title {
    font-size: 25px;
    margin-left: 50px;
    margin-top: 50px;
    color: #ee4657;
}

.main-menu-hr {
    width: 80%;
    margin-left: 50px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.144);
}

.main-menu-p-text {
    width: 80%;
    margin-left: 50px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.815);
    z-index: 1;
    line-height: 21px;
}

.main-menu-design-image {
    width: 270px;
    height: 450px;
    position:absolute;
    border-radius: 20px;
    margin-top: 130px;
    margin-left: 150px;
    z-index: 0;
    background-image: url('/blog/img/hack3.jpg');
    background-size: cover;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.205);
    filter: blur(2px);
}


.main-menu-design-image-two {
    width: 270px;
    height: 450px;
    position:absolute;
    border-radius: 20px;
    margin-top: 130px;
    margin-left: 1380px;
    z-index: 0;
    background-image: url('/blog/img/sokak.jpg');
    background-size: cover;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.205);
    filter: blur(1px);
}

.main-menu-design-image-three {
    width: 80px;
    height: 450px;
    position:absolute;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 130px;
    margin-left: 0px;
    background-image: url('/blog/img/bina.jpg');
    background-size: cover;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.205);
    filter: blur(1px);
}

.main-menu-design-image-fore {
    width: 180px;
    height: 450px;
    position:absolute;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 130px;
    margin-left: 1725px;
    background-image: url('/blog/img/bina.jpg');
    background-size: cover;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.205);
    filter: blur(1px);
}

.main-menu-mainButton {
    width: 150px;
    height: 50px;
    background-color: #39B459;
    position:absolute;
    border-radius: 40px;
    margin-top: 540px;
    margin-left: 1250px;
    z-index: 2;
    box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.103);
}

.main-menu-mainButton h6 {
    text-align: center;
    margin-top: 13px;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
}

.main-menu-mainButton a {
    text-decoration: none;
}





/* Main Middle Section */

.main-middle-title {
    width: 100%;
    height: 100px;
    margin-top: 100px;
    display: inline-block;
}

.main-middle-text {
    width: 20%;
    height: 100%;
    display: inline-block;
}

.main-middle-nav {
    width: 45%;
    height: 100%;
    display: inline-block;
}

.main-middle-search {
    width: 29%;
    height: 100%;
    display: inline-block;
    margin-left: 105px;
}

.main-middle-text-h6 {
    float: left;
    color: white;
    margin-top: 40px;
    font-size: 20px;
    margin-left: 270px;
}

.main-middle-nav-section {
    float: left;
    margin-left: 350px;
}

.main-middle-nav-section a{
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 100px;
    color: rgba(255, 255, 255, 0.753);
    text-align: center;
    line-height: 100px;
    font-size: 15px;
}

.main-middle-nav-section a:hover {
    box-shadow: 0 5px #F36271;
    color: white;
}

.main-middle-search-logo {
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 100px;
    margin-top: 38px;
}

.main-middle-search-input {
    float: left;
    height: 30px;
    width: 200px;
    margin-top: 35px;
    margin-left: 1px;
    background-color: #0d1631;
    border: none;
    outline: none;

}

.main-middle-search-input::placeholder {
    color: rgba(255, 255, 255, 0.589);
    font-size: 15px;
    text-align: center;
}


.main-middle-search-input[type="text"] {
    color: white;
}






/* Main Middle Menu */ 

.main-middle-menu {
    width: 100%;
    background-color: #0C1328;
}

.main-middle-menu-head {
    display: inline-block;
    width: 85%;
    height: 400px;
    margin-top: 50px;
    margin-left: 150px;
}

.main-middle-menu-bar{
    display: inline-block;
    width: 85%;
    height: 400px;
    margin-top: 20px;
    margin-left: 150px;
}

.main-middle-head-tb1 {
    display: inline-block;
    width: 17%;
    height: 390px;
    margin-left: 120px;
}

.main-middle-head-tb2 {
    display: inline-block;
    width: 17%;
    height: 390px;
}

.main-middle-head-tb3 {
    display: inline-block;
    width: 17%;
    height: 390px;
}

.main-middle-head-tb4 {
    display: inline-block;
    width: 17%;
    height: 390px;
}

.main-middle-head-tb5 {
    display: inline-block;
    width: 17%;
    height: 390px;
}

.head-tb1-logo {
    float: left;
    width: 80%;
    height: 320px;
    border-radius: 10px;
    margin-left: 28px;
    background-image: url('/blog/img/table/coding3.jpg');
    background-size: cover;
}

.head-tb2-logo {
    float: left;
    width: 80%;
    height: 320px;
    border-radius: 10px;
    margin-left: 28px;
    background-image: url('/blog/img/table/kule.jpg');
    background-size: cover;
}

.head-tb3-logo {
    float: left;
    width: 80%;
    height: 320px;
    border-radius: 10px;
    margin-left: 28px;
    background-image: url('/blog/img/table/evren.jpg');
    background-size: cover;
}

.head-tb4-logo {
    float: left;
    width: 80%;
    height: 320px;
    border-radius: 10px;
    margin-left: 28px;
    background-image: url('/blog/img/table/tekno.jpg');
    background-size: cover;
}

.head-tb5-logo {
    float: left;
    width: 80%;
    height: 320px;
    border-radius: 10px;
    margin-left: 28px;
    background-image: url('/blog/img/table/coding2.jpg');
    background-size: cover;
}

.head-tb1-date {
    width: 80%;
    height: 10px;
    float: left;
    margin-left: 30px;
    color: #2dbb74;
    margin-top: 10px;
}

.head-tb1-date h6 {
    font-size: 11px;
}

.head-tb1-info {
    float: left;
    margin-top: 5px;
    color: white;
    font-size: 23px;
    margin-left: 30px;
}

.head-tb2-date {
    width: 80%;
    height: 10px;
    float: left;
    margin-left: 30px;
    color: #2dbb74;
    margin-top: 10px;
}

.head-tb2-date h6 {
    font-size: 11px;
}

.head-tb2-info {
    float: left;
    margin-top: 5px;
    color: white;
    font-size: 23px;
    margin-left: 30px;
}

.head-tb3-date {
    width: 80%;
    height: 10px;
    float: left;
    margin-left: 30px;
    color: #2dbb74;
    margin-top: 10px;
}

.head-tb3-date h6 {
    font-size: 11px;
}

.head-tb3-info {
    float: left;
    margin-top: 5px;
    color: white;
    font-size: 23px;
    margin-left: 30px;
}

.head-tb4-date {
    width: 80%;
    height: 10px;
    float: left;
    margin-left: 30px;
    color: #2dbb74;
    margin-top: 10px;
}

.head-tb4-date h6 {
    font-size: 11px;
}

.head-tb4-info {
    float: left;
    margin-top: 5px;
    color: white;
    font-size: 23px;
    margin-left: 30px;
}

.head-tb5-date {
    width: 80%;
    height: 10px;
    float: left;
    margin-left: 30px;
    color: #2dbb74;
    margin-top: 10px;
}

.head-tb5-date h6 {
    font-size: 11px;
}

.head-tb5-info {
    float: left;
    margin-top: 5px;
    color: white;
    font-size: 23px;
    margin-left: 30px;
}


.main-middle-menu-bar {
    display: inline-block;
    width: 85%;
    height: 400px;
    margin-left: 150px;
}

.menu-middle-tb1 {
    display: inline-block;
    width: 17%;
    height: 390px;
    margin-left: 120px;
}

.menu-middle-tb2 {
    display: inline-block;
    width: 17%;
    height: 390px;
}

.menu-middle-tb3 {
    display: inline-block;
    width: 17%;
    height: 390px;
}

.menu-middle-tb4 {
    display: inline-block;
    width: 17%;
    height: 390px;
}

.menu-middle-tb5 {
    display: inline-block;
    width: 17%;
    height: 390px;
}

.menu-tb1-logo {
    float: left;
    width: 80%;
    height: 320px;
    border-radius: 10px;
    margin-left: 28px;
    background-image: url('/blog/img/table/robot2.jpg');
    background-size: cover;
}

.menu-tb2-logo {
    float: left;
    width: 80%;
    height: 320px;
    border-radius: 10px;
    margin-left: 28px;
    background-image: url('/blog/img/table/fantastic.jpg');
    background-size: cover;
}

.menu-tb3-logo {
    float: left;
    width: 80%;
    height: 320px;
    border-radius: 10px;
    margin-left: 28px;
    background-image: url('/blog/img/table/hack2.jpg');
    background-size: cover;
}

.menu-tb4-logo {
    float: left;
    width: 80%;
    height: 320px;
    border-radius: 10px;
    margin-left: 28px;
    background-image: url('/blog/img/table/coding4.jpg');
    background-size: cover;
}

.menu-tb5-logo {
    float: left;
    width: 80%;
    height: 320px;
    border-radius: 10px;
    margin-left: 28px;
    background-image: url('/blog/img/table/pc.jpg');
    background-size: cover;
}

.menu-tb1-date {
    width: 80%;
    height: 10px;
    float: left;
    margin-left: 30px;
    color: #2dbb74;
    margin-top: 10px;
}

.menu-tb1-date h6 {
    font-size: 11px;
}

.menu-tb1-info {
    float: left;
    margin-top: 5px;
    color: white;
    font-size: 23px;
    margin-left: 30px;
}

.menu-tb2-date {
    width: 80%;
    height: 10px;
    float: left;
    margin-left: 30px;
    color: #2dbb74;
    margin-top: 10px;
}

.menu-tb2-date h6 {
    font-size: 11px;
}

.menu-tb2-info {
    float: left;
    margin-top: 5px;
    color: white;
    font-size: 23px;
    margin-left: 30px;
}

.menu-tb3-date {
    width: 80%;
    height: 10px;
    float: left;
    margin-left: 30px;
    color: #2dbb74;
    margin-top: 10px;
}

.menu-tb3-date h6 {
    font-size: 11px;
}

.menu-tb3-info {
    float: left;
    margin-top: 5px;
    color: white;
    font-size: 23px;
    margin-left: 30px;
}

.menu-tb4-date {
    width: 80%;
    height: 10px;
    float: left;
    margin-left: 30px;
    color: #2dbb74;
    margin-top: 10px;
}

.menu-tb4-date h6 {
    font-size: 11px;
}

.menu-tb4-info {
    float: left;
    margin-top: 5px;
    color: white;
    font-size: 23px;
    margin-left: 30px;
}

.menu-tb5-date {
    width: 80%;
    height: 10px;
    float: left;
    margin-left: 30px;
    color: #2dbb74;
    margin-top: 10px;
}

.menu-tb5-date h6 {
    font-size: 11px;
}

.menu-tb5-info {
    float: left;
    margin-top: 5px;
    color: white;
    font-size: 23px;
    margin-left: 30px;
}






/*  FOOTER SECTION */

.footer-main {
    display: inline-block;
    width: 100%;
    height: 750px;
    margin-top: 100px;
}

.footer-head-box {
    width: 95%;
    height: 100px;
    margin:auto;
}

.footer-head-title-fame {
    width: 30%;
    height: 100px;
    float: left;

}

.footer-head-title-news {
    width: 69%;
    height: 100px;
    float: left;
}

.ft-head-fame-h6 {
    color: white;
    font-size: 23px;
    margin-top: 40px;
}

.ft-head-news-h6 {
    color: white;
    font-size: 23px;
    margin-top: 40px;
}

.footer-body-box {
    width: 95%;
    height: 550px;
    margin: auto;
}

.footer-body-top {
    width: 30%;
    height: 550px;
    float: left;
}

.footer-body-view {
    background-color: #070a1f75;
    width: 69%;
    height: 550px;
    float: left;
    margin-left: 9px;
    border-radius: 10px;
}

.footer-body-top-box-one {
    height: 100%;
    width: 100%;
    display: block;
    
}

.top-box-name {
    width: 69%;
    height: 60px;
    float: left;
    box-shadow: 0 1px #dadada;

}

.top-box-name:hover {
    box-shadow: 0 2px #F36271;
}

.top-box-see {
    width: 30%;
    height: 60px;
    float: right;
    box-shadow: 0 1px #F36271;
}


.top-box-view {
    width: 100%;
    height: 100%;
}

.top-box-main-section {
    width: 100%;
    height: 100%;
}

.top-box-name-section {
    width: 70%;
    height: 490px;
    float: left;
}

.top-box-see-section {
    width: 30%;
    height: 490px;
    float: left;
}

.top-box-name-h6 {
    color: white;
    font-size: 14px;
    margin-top: 20px;
}

.top-box-see-h6 {
    color: white;
    font-size: 14px;
    margin-top: 20px;
}

.top-box-name-person-one {
    width: 100%;
    height: 60px;
    margin-top: 10px;
}

.top-box-see-person-one {
    width: 100%;
    height: 60px;
    margin-top: 10px;
}

.top-box-name-icon {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    float: left;
}

.top-box-name-name {
    width: 300px;
    height: 60px;
    float: left;
    margin-left: 20px;
}


.top-box-see-review {
    width: 70px;
    height: 40px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #2dbb74;
}

.top-box-name-icon-face {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.top-box-name-person {
    color: white;
    display: inline-block;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 12px;
}

.top-box-see-number {
    color: #2dbb74;
    text-align: center;
    margin-top: 13px;
    font-size: 13px;
}






/* FOOTER BODY SECTION */
.footer-body-main {
    width: 95%;
    height: 90%;
    margin-top: 30px;
    margin-left: 30px;

}

.footer-body-view-top {
    width: 100%;
    height: 55%;

}


.footer-view-image {
    width: 45%;
    height: 100%;
    float: left;
}

.footer-view-image img {
    border-radius: 10px;
}


.footer-view-image-label {
    width: 100%;
    height: 100%;

}

.footer-view-content {
    width: 53%;
    height: 100%;
    float: left;
    margin-left: 15px;
}

.footer-view-content-text {
    width: 90%;
    height: 20%;
    margin-top: 1px;
}

.footer-view-content-date {
    display: inline-block;
    color: white;
    font-size: 11px;
    margin-top: 20px;
}

.footer-view-content-title {
    display: inline-block;
    color: #2dbb74;
    font-size: 16px;
    margin-top: 0px;
}

.footer-view-content-information {
    display: inline-block;
    color: #ffffffc2;
    font-size: 13px;
    font-weight: lighter;
}

.footer-ct-widht {
    height: 90px;
}

.footer-view-content-button {
    width: 120px;
    height: 50px;
    margin-top: 17px;
    box-shadow: 0px 2px #F36271;
    text-align: center;

}

.footer-vc-button-text {
    display: inline-block;
    color: white;
    font-size: 12px;
    margin-top: 20px;
}

.footer-body-view-bottom {
    width: 100%;
    height: 45%;
}

.footer-body-bottom-section {
    height: 90%;
    width: 24%;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.footer-bottom-image{
    width: 100%;
    height: 140px;
}

.ft-bt-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.footer-bottom-date {
    width: 100%;
    height: 20px;
    
}

.ft-bt-date {
    display: inline-block;
    color: white;
    font-size: 11px;
    margin-top: 0px;
}

.footer-bottom-info {
    width: 100%;
    height: 40px;
}

.ft-bt-info {
    color: #2dbb74;
    font-size: 16px;
    margin-top: 7px;
}




/* Lowest part */
.end {
    width: 60%;
    height: 100px;
    margin-top: 100px;
    margin-left: 400px;
    display: inline-block;
    box-shadow: 0px -1px rgba(255, 255, 255, 0.103);
}

.end p {
    color: white;
    text-align: center;
    font-size: 11px;
    margin-top: 40px;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

