figure {
  margin: 0;
  padding: 0;
}

:root {
  --header-background: rgba(0, 0, 0, 0.863);
  --nav-item: rgb(224, 224, 224);
}

.body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: var(--header-background);
  width: 100%;
  top: 0;
}

.navigation {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .nav-logo {
  text-decoration: none;
  font-size: 1.3rem;
  -webkit-transition: 150ms;
  transition: 150ms;
  color: var(--nav-item);
}

.navigation .nav-logo:hover {
  color: #fffbfb;
}

.navigation .nav-box__item {
  text-decoration: none;
  -webkit-transition: 150ms;
  transition: 150ms;
  color: var(--nav-item);
  font-size: 0.9rem;
}

.navigation .nav-box__item:hover {
  color: #ffffff;
}

.navigation .nav-box__item:not(:last-child) {
  margin-right: 20px;
}

.navigation .toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.navigation .toggle-button__bar {
  height: 3px;
  width: 100%;
  background-color: white;
}

.hero {
  position: relative;
}

.hero .hero-bg {
  text-align: center;
  background-size: cover;
  margin-top: 51px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#aec6e0));
  background: linear-gradient(to bottom, white, #aec6e0);
}

.hero__title {
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 70px;
  font-size: 40px;
}

.hero__link {
  text-decoration: none;
  color: #1F66CC;
  font-size: 20px;
  display: inline;
  margin-bottom: 20px;
}

.hero__link:hover .hero__link--ok {
  margin-left: 10px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.hero__box {
  margin: auto;
  width: 50%;
}

.hero__box--img {
  width: 50%;
}

.window {
  margin-top: 30px;
  margin-bottom: 70px;
  background-color: rgba(20, 20, 20, 0.082);
}

.window .window-box {
  background-color: #555555;
  width: 100%;
  margin-top: 20px;
  height: 450px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.window .window-box__title {
  font-size: 90px;
  letter-spacing: 7px;
  color: #DFDFE1;
  background-color: rgba(0, 0, 0, 0.664);
  text-align: center;
}

.window .window-box__title:hover {
  font-size: 110px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.window .box-link {
  text-decoration: none;
}

.window .box-one {
  background-image: url("../img/window1.jpg");
  width: 100%;
}

.window .box-two {
  background-image: url("../img/window2.jpg");
}

.window .box-three {
  background-image: url("../img/window3.jpg");
}

.window .box-fore {
  background-image: url("../img/window4.jpg");
}

.content {
  background: -webkit-gradient(linear, left top, right top, from(black), to(#313131));
  background: linear-gradient(to right, black, #313131);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 700px;
}

.content__title {
  color: #DFDFE1;
  font-size: 70px;
}

.content__desc {
  color: #DFDFE1;
  font-size: 30px;
}

.content__link {
  text-decoration: none;
  margin-top: 20px;
}

.content .content-box {
  margin: auto;
  width: 25%;
  margin-top: 20px;
}

.content__img {
  width: 100%;
  height: 100%;
  -webkit-animation: rotation infinite 30s linear;
          animation: rotation infinite 30s linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}

.footer {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.733);
}

@media screen and (max-width: 500px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navigation .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation .nav-box__item {
    display: none;
  }
  .hero__title {
    font-size: 25px;
  }
  .window .window-box {
    height: 300px;
  }
  .window .window-box__title {
    font-size: 40px;
  }
  .window .window-box__title:hover {
    font-size: 50px;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .content {
    height: 500px;
  }
}
/*# sourceMappingURL=style.css.map */